.shopping-cart-table {
  margin-top: 2.8rem;
}

.shopping-cart-table .total {
  text-align: right;
  font-size: 1.3rem;
  margin-right: .63rem;
}

.shopping-cart-table button {
  margin-left: .3rem;
  margin-top: .3rem;
}