.main-header {
  border-bottom: 1px solid #e5e5e5;
  margin-top: .6rem;
  padding-bottom: .6rem;
  margin-bottom: 2rem;
}

.main-header .logo {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 2rem;
  color: #343a40;
}

.main-header .logo:hover {
  color:#17a2b8;
}

.main-header a:hover {
  text-decoration: none;
}

.main-header .shopping-cart {
  font-size: 1.3rem;
  color: #17a2b8;
}

.main-header .shopping-cart:hover {
  color: #343a40;
}

.main-header .shopping-cart .cart-icon {
  font-size: 2.2rem;
  margin-right: .63rem;
}

@media screen and (min-width: 768px) {
  .main-header .logo {
    font-size: 2.5rem;
  }
}
